<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/header'); %>
    <h1>New Category</h1>
    <form method="post" action="">
      <div>
        <label for="name">Name:</label>
        <% if (typeof category == 'undefined') { %>
          <input type="text" name="name" value="">
          <label for="description">Description:</label>
          <input type="text" name="description">
          <input type="submit">
        <% } else { %> 
          <input type="text" name="name" value="<%=category.name%>">
          <label for="description">Description:</label>
          <input type="text" name="description" value="<%=category.description%>">
          <input type="submit">
        <% } %>
      </div>
    </form>
    
    <%- include('./partials/bootstrap'); %>
  </body>
</html>