<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/header'); %>
        <h1>Product: <%= product.name %></h1>

        <h3> Info </h3>
    
        <p><%=product.description%></p>
        <p><%=product.price%></p>
        <p><%=product.number_in_stock%></p>
        <p></p>
        <% for(let i = 0; i < product.category.length; i++ ) { %>
          <li>
            <a href="<%=product.category[i].url %>" ><%= product.category[i].name %></a>
          </li>
        <% } %>

    
    <%- include('./partials/bootstrap'); %>
  </body>
</html>